/* login page*/
.login-bg
{
    -fx-background-color: linear-gradient(to bottom right,#2f466b, #662d60);
}
.close
{
    -fx-background-color: #c22c40;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.close:hover
{
    -fx-background-color: #f15b52;
}
.text_field-design
{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color: linear-gradient(to bottom right,#2f466b, #662d60);
    -fx-border-radius: 10px;
    -fx-text-inner-color: #000;
}
.login-button
{
    -fx-background-color: linear-gradient(to bottom right,#2f466b, #662d60);
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}
.login-button:hover
{
    -fx-background-color: linear-gradient(to bottom right, #662d60,#2f466b);
}
.crtacc
{
    -fx-text-fill:#5185c5;
    -fx-underline: false;
    -fx-border-color: transparent;
}
.crtacc:hover
{
    -fx-underline: true;
}

