.teacher_count_button{-fx-background-image: url("./picture/teacher_count_icon.jpg")}
.teacher_count_button:hover{-fx-background-image: url("./picture/teacher_count_icon.jpg")}

.student_count_button{-fx-background-image: url("./picture/student_count_hover.jpg")}
.student_count_button:hover{-fx-background-image: url("./picture/student_count_hover.jpg")}

.stuff_count_button{-fx-background-image: url("./picture/stuff_count_hover.jpg")}
.stuff_count_button:hover{-fx-background-image: url("./picture/stuff_count_hover.jpg")}

.student_icon{-fx-background-image: url("./picture/student_icon.jpg")}
.student_icon:hover{-fx-background-image: url("./picture/student_icon_hover.jpg")}

.teacher_icon{-fx-background-image: url("./picture/teacher.jpg")}
.teacher_icon:hover{-fx-background-image: url("./picture/teacher_hover.jpg")}

.stuff_icon{-fx-background-image: url("./picture/stuff.jpg")}
.stuff_icon:hover{-fx-background-image: url("./picture/stuff_hover.jpg")}

.notice_icon{-fx-background-image: url("./picture/notice.jpg")}
.notice_icon:hover{-fx-background-image: url("./picture/notice_hover.jpg")}

.result_icon{-fx-background-image: url("./picture/result.jpg")}
.result_icon:hover{-fx-background-image: url("./picture/result_hover.jpg")}

.about_icon{-fx-background-image: url("./picture/about.jpg")}
.about_icon:hover{-fx-background-image: url("./picture/about_hover.jpg")}

.classes_icon{-fx-background-image: url("./picture/classes.jpg")}
.classes_icon:hover{-fx-background-image: url("./picture/classes_hover.jpg")}

.logout_icon{-fx-background-image: url("./picture/log_out.jpg")}
.logout_icon:hover{-fx-background-image: url("./picture/log_out_hover.jpg")}

.exit_icon{-fx-background-image: url("./picture/exit.jpg")}
.exit_icon:hover{-fx-background-image: url("./picture/exit_hover.jpg")}


.home-bg
{
    -fx-background-color: linear-gradient(to bottom right,#05014b, #060153);
}
.set_image
{
    -fx-background-image: url("./picture/Dashboard_bckg.png")
}
.welcome_school
{
    -fx-background-image: url("./picture/welcome_image.png")
}

.home_button{-fx-background-color: linear-gradient(to bottom right,#05014b, #060153);}
.home_button:hover{-fx-background-color: #7498cf;}

